@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500i,700,800,900,900i|Ma+Shan+Zheng|Rozha+One|Dancing+Script|Kalam|Kaushan+Script&display=swap");
* {
  text-decoration: none; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.gauche {
  float: left; }

.droite {
  float: right; }

.reverse {
  transform: scaleX(-1); }

header {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background: #579c87;
  border-bottom: solid 2px #a1c181;
  margin-bottom: 100px; }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    header {
      margin-bottom: 50px; } }
  header > h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #fdcb46;
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      header > h1 {
        font-size: 51px; } }
    header > h1 > a {
      color: #fdcb46; }

.contenu {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

section.prochainement {
  text-align: center;
  margin-bottom: 185px; }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    section.prochainement {
      margin-bottom: 100px; } }
  section.prochainement > span {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px;
    color: #fdcb46;
    font-size: 30px;
    background: #579c87;
    font-weight: 100; }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      section.prochainement > span {
        font-size: 20px;
        padding-left: 90px;
        padding-right: 90px; } }
  section.prochainement > .points {
    width: 350px;
    margin: 0 auto;
    display: flex; }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      section.prochainement > .points {
        width: 250px; } }
    section.prochainement > .points > .point {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background: #cecece;
      margin: 50px auto; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        section.prochainement > .points > .point {
          width: 50px;
          height: 50px; } }
      section.prochainement > .points > .point.point-1 {
        animation: 1s ease-in-out 0s infinite suspensions; }
      section.prochainement > .points > .point.point-2 {
        animation: 1s ease-in-out 0.5s infinite suspensions; }
      section.prochainement > .points > .point.point-3 {
        animation: 1s ease-in-out 1s infinite suspensions; }

footer {
  width: 100%;
  background: #579c87;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  border-top: solid 2px #a1c181; }
  footer > a > span {
    color: #fdcb46;
    font-size: 25px;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: block; }
    @media only screen and (max-width: 979px) and (min-width: 775px) {
      footer > a > span {
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px; } }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      footer > a > span {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px; } }
    footer > a > span:hover {
      animation: ease-in-out 2s infinite wiggle; }

i.fa-itunes-note {
  background: -webkit-linear-gradient(45deg, #ff3c5b, #ff8d63 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes suspensions {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
.menu {
  width: 535px;
  height: 760px;
  box-shadow: 0 0 26px #ededed;
  cursor: pointer;
  transition: ease-in-out .2s;
  float: left;
  margin-bottom: 95px;
  text-align: center;
  transition: ease-in-out .2s; }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    .menu {
      width: 306px;
      height: 456px;
      margin-bottom: 50px; } }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    .menu {
      margin-left: auto;
      margin-right: auto !important;
      float: none; } }
  @media only screen and (max-width: 979px) and (min-width: 775px) {
    .menu {
      margin-left: auto;
      margin-right: auto !important;
      float: none; } }
  @media only screen and (max-width: 1200px) and (min-width: 980px) {
    .menu {
      margin-left: auto;
      margin-right: auto !important;
      float: none; } }
  .menu:hover {
    opacity: 0.7; }
  .menu:hover .informations {
    transform: scale(1.2); }
  .menu > .informations {
    position: relative;
    top: 300px;
    transition: ease-in-out .2s; }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      .menu > .informations {
        top: 150px; } }
  .menu.menu-1 {
    background: #fcdfdb;
    margin-right: 100px; }
    @media only screen and (max-width: 774px) and (min-width: 320px) {
      .menu.menu-1 > .informations > i {
        font-size: 4em; } }
    .menu.menu-1 > .informations > h2 {
      font-family: 'Ma Shan Zheng';
      font-size: 43px;
      color: #000;
      text-align: center;
      margin: 0px;
      font-weight: normal; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-1 > .informations > h2 {
          font-size: 35px; } }
    .menu.menu-1 > .informations > h3 {
      font-family: 'Comic Sans MS';
      font-size: 60px;
      color: #000;
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 40px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-1 > .informations > h3 {
          font-size: 40px; } }
  .menu.menu-2 {
    background: #fff5fe; }
    .menu.menu-2 > .informations > h2 {
      font-family: 'Rozha One';
      font-size: 40px;
      background: -webkit-linear-gradient(45deg, #C77313, #8F5AFF 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-2 > .informations > h2 {
          font-size: 28px; } }
    .menu.menu-2 > .informations > h3 {
      font-family: 'Rozha One';
      font-size: 70px;
      color: #C77313;
      margin-top: 40px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-2 > .informations > h3 {
          font-size: 50px; } }
  .menu.menu-3 {
    background: #f9f9f9;
    margin-right: 100px; }
    .menu.menu-3 > .informations > h2 {
      font-family: 'Dancing Script';
      font-size: 55px;
      font-weight: 100;
      background: -webkit-linear-gradient(45deg, #023ae3, #0887fb 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-3 > .informations > h2 {
          font-size: 35px; } }
    .menu.menu-3 > .informations > h3 {
      font-family: 'Kalam';
      font-size: 70px;
      color: #0887fb;
      text-align: center;
      margin-top: 40px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-3 > .informations > h3 {
          font-size: 50px; } }
  .menu.menu-4 {
    background: #fdfffd; }
    .menu.menu-4 > .informations > h2 {
      font-family: 'Kaushan Script';
      font-size: 55px;
      background: -webkit-linear-gradient(45deg, #58a949, #bfff81 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-4 > .informations > h2 {
          font-size: 35px; } }
    .menu.menu-4 > .informations > h3 {
      font-family: 'Kalam';
      font-size: 70px;
      color: #72bf56;
      text-align: center;
      margin-top: 40px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        .menu.menu-4 > .informations > h3 {
          font-size: 50px; } }

section.carte > h1 {
  font-size: 42px;
  text-align: center;
  color: #353535;
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    section.carte > h1 {
      font-size: 25px; } }
section.carte > article.carte {
  width: 1180px;
  height: auto;
  box-shadow: 0 0 26px #ededed;
  margin-bottom: 180px;
  margin-top: 50px; }
  @media only screen and (max-width: 774px) and (min-width: 320px) {
    section.carte > article.carte {
      width: 100%; } }
  @media only screen and (max-width: 979px) and (min-width: 775px) {
    section.carte > article.carte {
      width: 100%; } }
  @media only screen and (max-width: 1200px) and (min-width: 980px) {
    section.carte > article.carte {
      width: 100%; } }
  section.carte > article.carte.carte-1 {
    background: #fcdfdb; }
    section.carte > article.carte.carte-1 > .informations {
      padding-top: 80px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 100px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        section.carte > article.carte.carte-1 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 979px) and (min-width: 775px) {
        section.carte > article.carte.carte-1 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 1200px) and (min-width: 980px) {
        section.carte > article.carte.carte-1 > .informations {
          padding-left: 50px;
          padding-right: 50px; } }
      section.carte > article.carte.carte-1 > .informations > .titre {
        text-align: center; }
        section.carte > article.carte.carte-1 > .informations > .titre > h2 {
          font-family: 'Ma Shan Zheng';
          font-size: 50px;
          color: #000;
          text-align: center;
          margin: 0px;
          font-weight: normal;
          margin-bottom: 75px; }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-1 > .informations > .titre > h2 {
              font-size: 35px; } }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-1 > .informations > .titre > h2 {
              font-size: 35px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-1 > .informations > .titre > i {
            font-size: 5em; } }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-1 > .informations > .titre > i {
            font-size: 4em; } }
      section.carte > article.carte.carte-1 > .informations > section {
        margin-bottom: 120px; }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-1 > .informations > section {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-1 > .informations > section {
            margin-bottom: 70px; } }
        section.carte > article.carte.carte-1 > .informations > section > .titre {
          display: flex; }
          section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-1 {
            background: url("../img/1-space-1.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-1 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-1 {
                width: 200px; } }
          section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-2 {
            background: url("../img/1-space-2.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-2 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > div.espace.espace-2 {
                width: 200px; } }
          section.carte > article.carte.carte-1 > .informations > section > .titre > h3 {
            font-family: 'Comic Sans MS';
            font-style: italic;
            font-weight: 200;
            margin: 0;
            width: calc(100% - 600px);
            text-align: center;
            font-size: 26px;
            margin-top: -10px; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > h3 {
                width: calc(100% - 200px);
                font-size: 14px;
                margin-top: -5px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-1 > .informations > section > .titre > h3 {
                width: calc(100% - 400px);
                font-size: 20px; } }
            section.carte > article.carte.carte-1 > .informations > section > .titre > h3 > span {
              display: inline-block; }
              section.carte > article.carte.carte-1 > .informations > section > .titre > h3 > span::before {
                content: "";
                position: relative;
                top: 35px;
                display: block;
                height: 2px;
                width: 0;
                transition: ease-in-out .4s; }
                @media only screen and (max-width: 774px) and (min-width: 320px) {
                  section.carte > article.carte.carte-1 > .informations > section > .titre > h3 > span::before {
                    top: 20px;
                    height: 1px; } }
              section.carte > article.carte.carte-1 > .informations > section > .titre > h3 > span:hover::before {
                width: 100%; }
              section.carte > article.carte.carte-1 > .informations > section > .titre > h3 > span::before {
                background-color: #ff485c; }
        section.carte > article.carte.carte-1 > .informations > section > .liste {
          font-size: 20px;
          margin-top: 50px;
          font-style: italic;
          font-family: 'Comic Sans MS'; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-1 > .informations > section > .liste {
              font-size: 14px;
              margin: 0; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-1 > .informations > section > .liste {
              font-size: 15px; } }
          section.carte > article.carte.carte-1 > .informations > section > .liste > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px; }
            section.carte > article.carte.carte-1 > .informations > section > .liste > ul > li {
              display: flex;
              justify-content: space-between; }
              section.carte > article.carte.carte-1 > .informations > section > .liste > ul > li > .plat {
                font-weight: 100; }
              section.carte > article.carte.carte-1 > .informations > section > .liste > ul > li > .prix {
                font-weight: 400; }
      section.carte > article.carte.carte-1 > .informations > section.footer {
        text-align: center;
        margin-bottom: 0px; }
        section.carte > article.carte.carte-1 > .informations > section.footer > i {
          margin-right: 15px; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-1 > .informations > section.footer > i {
              font-size: 2em; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-1 > .informations > section.footer > i {
              font-size: 3em; } }
        section.carte > article.carte.carte-1 > .informations > section.footer > h2 {
          display: inline;
          font-family: 'Ma Shan Zheng';
          font-size: 40px;
          color: #000;
          text-align: center;
          margin: 0px;
          font-weight: normal;
          margin-bottom: 75px; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-1 > .informations > section.footer > h2 {
              font-size: 20px; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-1 > .informations > section.footer > h2 {
              font-size: 30px; } }
  section.carte > article.carte.carte-2 {
    background: #fff5fe; }
    section.carte > article.carte.carte-2 > .informations {
      padding-top: 80px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 100px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        section.carte > article.carte.carte-2 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 979px) and (min-width: 775px) {
        section.carte > article.carte.carte-2 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 1200px) and (min-width: 980px) {
        section.carte > article.carte.carte-2 > .informations {
          padding-left: 50px;
          padding-right: 50px; } }
      section.carte > article.carte.carte-2 > .informations > .titre {
        text-align: center; }
        section.carte > article.carte.carte-2 > .informations > .titre > h2 {
          font-family: 'Rozha One';
          font-size: 50px;
          background: -webkit-linear-gradient(65deg, #e38913, #8F5AFF 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          margin: 0px;
          font-weight: normal;
          margin-bottom: 75px; }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-2 > .informations > .titre > h2 {
              font-size: 35px; } }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-2 > .informations > .titre > h2 {
              font-size: 35px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-2 > .informations > .titre > i {
            font-size: 5em; } }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-2 > .informations > .titre > i {
            font-size: 4em; } }
      section.carte > article.carte.carte-2 > .informations > section {
        margin-bottom: 120px; }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-2 > .informations > section {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-2 > .informations > section {
            margin-bottom: 70px; } }
        section.carte > article.carte.carte-2 > .informations > section > .titre {
          display: flex; }
          section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-1 {
            background: url("../img/2-space-1.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-1 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-1 {
                width: 200px; } }
          section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-2 {
            background: url("../img/2-space-2.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-2 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-2 {
                width: 200px; } }
          section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-3 {
            background: url("../img/2-space-3.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-3 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > div.espace.espace-3 {
                width: 200px; } }
          section.carte > article.carte.carte-2 > .informations > section > .titre > h3 {
            font-family: 'Rozha One';
            font-weight: 200;
            margin: 0;
            width: calc(100% - 600px);
            text-align: center;
            font-size: 26px;
            margin-top: -10px; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > h3 {
                width: calc(100% - 200px);
                font-size: 14px;
                margin-top: -5px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-2 > .informations > section > .titre > h3 {
                width: calc(100% - 400px);
                font-size: 20px; } }
            section.carte > article.carte.carte-2 > .informations > section > .titre > h3 > span {
              display: inline-block; }
              section.carte > article.carte.carte-2 > .informations > section > .titre > h3 > span::before {
                content: "";
                position: relative;
                top: 35px;
                display: block;
                height: 2px;
                width: 0;
                transition: ease-in-out .4s; }
                @media only screen and (max-width: 774px) and (min-width: 320px) {
                  section.carte > article.carte.carte-2 > .informations > section > .titre > h3 > span::before {
                    top: 20px;
                    height: 1px; } }
              section.carte > article.carte.carte-2 > .informations > section > .titre > h3 > span:hover::before {
                width: 100%; }
              section.carte > article.carte.carte-2 > .informations > section > .titre > h3 > span::before {
                background-color: #c77213; }
        section.carte > article.carte.carte-2 > .informations > section > .liste {
          font-size: 20px;
          margin-top: 50px;
          font-family: 'Roboto'; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-2 > .informations > section > .liste {
              font-size: 14px;
              margin: 0; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-2 > .informations > section > .liste {
              font-size: 15px; } }
          section.carte > article.carte.carte-2 > .informations > section > .liste > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px; }
            section.carte > article.carte.carte-2 > .informations > section > .liste > ul > li {
              display: flex;
              justify-content: space-between; }
              section.carte > article.carte.carte-2 > .informations > section > .liste > ul > li > .plat {
                font-weight: 100; }
              section.carte > article.carte.carte-2 > .informations > section > .liste > ul > li > .prix {
                font-weight: 100; }
        section.carte > article.carte.carte-2 > .informations > section.entree h3, section.carte > article.carte.carte-2 > .informations > section.entree {
          color: #c67412; }
        section.carte > article.carte.carte-2 > .informations > section.repas h3, section.carte > article.carte.carte-2 > .informations > section.repas li {
          color: #a56799; }
        section.carte > article.carte.carte-2 > .informations > section.dessert h3, section.carte > article.carte.carte-2 > .informations > section.dessert {
          color: #6e4ccc; }
  section.carte > article.carte.carte-3 {
    background: #f9f9f9; }
    section.carte > article.carte.carte-3 > .informations {
      padding-top: 80px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 100px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        section.carte > article.carte.carte-3 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 979px) and (min-width: 775px) {
        section.carte > article.carte.carte-3 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 1200px) and (min-width: 980px) {
        section.carte > article.carte.carte-3 > .informations {
          padding-left: 50px;
          padding-right: 50px; } }
      section.carte > article.carte.carte-3 > .informations > .titre {
        text-align: center; }
        section.carte > article.carte.carte-3 > .informations > .titre > h2 {
          font-family: 'Dancing Script';
          font-size: 50px;
          background: -webkit-linear-gradient(45deg, #023ae3, #0887fb 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          margin: 0px;
          font-weight: normal;
          margin-bottom: 75px; }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-3 > .informations > .titre > h2 {
              font-size: 35px; } }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-3 > .informations > .titre > h2 {
              font-size: 35px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-3 > .informations > .titre > i {
            font-size: 5em; } }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-3 > .informations > .titre > i {
            font-size: 4em; } }
      section.carte > article.carte.carte-3 > .informations > section {
        margin-bottom: 120px; }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-3 > .informations > section {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-3 > .informations > section {
            margin-bottom: 70px; } }
        section.carte > article.carte.carte-3 > .informations > section > .titre {
          display: flex; }
          section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-1 {
            background: url("../img/3-space-1.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-1 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-1 {
                width: 200px; } }
          section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-2 {
            background: url("../img/3-space-2.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-2 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-2 {
                width: 200px; } }
          section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-3 {
            background: url("../img/3-space-3.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-3 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > div.espace.espace-3 {
                width: 200px; } }
          section.carte > article.carte.carte-3 > .informations > section > .titre > h3 {
            font-family: 'Kalam';
            font-weight: 200;
            color: #000;
            margin: 0;
            width: calc(100% - 600px);
            text-align: center;
            font-size: 26px;
            margin-top: -10px; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > h3 {
                width: calc(100% - 200px);
                font-size: 14px;
                margin-top: -5px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-3 > .informations > section > .titre > h3 {
                width: calc(100% - 400px);
                font-size: 20px; } }
            section.carte > article.carte.carte-3 > .informations > section > .titre > h3 > span {
              display: inline-block; }
              section.carte > article.carte.carte-3 > .informations > section > .titre > h3 > span::before {
                content: "";
                position: relative;
                top: 35px;
                display: block;
                height: 2px;
                width: 0;
                transition: ease-in-out .4s; }
                @media only screen and (max-width: 774px) and (min-width: 320px) {
                  section.carte > article.carte.carte-3 > .informations > section > .titre > h3 > span::before {
                    top: 20px;
                    height: 1px; } }
              section.carte > article.carte.carte-3 > .informations > section > .titre > h3 > span:hover::before {
                width: 100%; }
              section.carte > article.carte.carte-3 > .informations > section > .titre > h3 > span::before {
                background-color: #0787fb; }
        section.carte > article.carte.carte-3 > .informations > section > .liste {
          font-size: 20px;
          margin-top: 50px;
          font-family: 'Kalam'; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-3 > .informations > section > .liste {
              font-size: 14px;
              margin: 0; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-3 > .informations > section > .liste {
              font-size: 15px; } }
          section.carte > article.carte.carte-3 > .informations > section > .liste > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px; }
            section.carte > article.carte.carte-3 > .informations > section > .liste > ul > li {
              display: flex;
              justify-content: space-between;
              color: #000; }
              section.carte > article.carte.carte-3 > .informations > section > .liste > ul > li > .plat {
                font-weight: 100; }
              section.carte > article.carte.carte-3 > .informations > section > .liste > ul > li > .prix {
                font-weight: 400; }
  section.carte > article.carte.carte-4 {
    background: #fdfffd; }
    section.carte > article.carte.carte-4 > .informations {
      padding-top: 80px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 100px; }
      @media only screen and (max-width: 774px) and (min-width: 320px) {
        section.carte > article.carte.carte-4 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 979px) and (min-width: 775px) {
        section.carte > article.carte.carte-4 > .informations {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 1200px) and (min-width: 980px) {
        section.carte > article.carte.carte-4 > .informations {
          padding-left: 50px;
          padding-right: 50px; } }
      section.carte > article.carte.carte-4 > .informations > .titre {
        text-align: center; }
        section.carte > article.carte.carte-4 > .informations > .titre > h2 {
          font-family: 'Kaushan Script';
          font-size: 50px;
          background: -webkit-linear-gradient(45deg, #58a949, #bfff81 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          margin: 0px;
          font-weight: normal;
          margin-bottom: 75px; }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-4 > .informations > .titre > h2 {
              font-size: 35px; } }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-4 > .informations > .titre > h2 {
              font-size: 35px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-4 > .informations > .titre > i {
            font-size: 5em; } }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-4 > .informations > .titre > i {
            font-size: 4em; } }
      section.carte > article.carte.carte-4 > .informations > section {
        margin-bottom: 120px; }
        @media only screen and (max-width: 774px) and (min-width: 320px) {
          section.carte > article.carte.carte-4 > .informations > section {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 979px) and (min-width: 775px) {
          section.carte > article.carte.carte-4 > .informations > section {
            margin-bottom: 70px; } }
        section.carte > article.carte.carte-4 > .informations > section > .titre {
          display: flex; }
          section.carte > article.carte.carte-4 > .informations > section > .titre > div.espace.espace-1 {
            background: url("../img/4-space-1.png");
            width: 300px;
            height: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-4 > .informations > section > .titre > div.espace.espace-1 {
                width: 100px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-4 > .informations > section > .titre > div.espace.espace-1 {
                width: 200px; } }
          section.carte > article.carte.carte-4 > .informations > section > .titre > h3 {
            font-family: 'Kalam';
            font-weight: 200;
            color: #000;
            margin: 0;
            width: calc(100% - 600px);
            text-align: center;
            font-size: 26px;
            margin-top: -10px; }
            @media only screen and (max-width: 774px) and (min-width: 320px) {
              section.carte > article.carte.carte-4 > .informations > section > .titre > h3 {
                width: calc(100% - 200px);
                font-size: 14px;
                margin-top: -5px; } }
            @media only screen and (max-width: 979px) and (min-width: 775px) {
              section.carte > article.carte.carte-4 > .informations > section > .titre > h3 {
                width: calc(100% - 400px);
                font-size: 20px; } }
            section.carte > article.carte.carte-4 > .informations > section > .titre > h3 > span {
              display: inline-block; }
              section.carte > article.carte.carte-4 > .informations > section > .titre > h3 > span::before {
                content: "";
                position: relative;
                top: 35px;
                display: block;
                height: 2px;
                width: 0;
                transition: ease-in-out .4s; }
                @media only screen and (max-width: 774px) and (min-width: 320px) {
                  section.carte > article.carte.carte-4 > .informations > section > .titre > h3 > span::before {
                    top: 20px;
                    height: 1px; } }
              section.carte > article.carte.carte-4 > .informations > section > .titre > h3 > span:hover::before {
                width: 100%; }
              section.carte > article.carte.carte-4 > .informations > section > .titre > h3 > span::before {
                background-color: #8eed5c; }
        section.carte > article.carte.carte-4 > .informations > section > .liste {
          font-size: 20px;
          margin-top: 50px;
          font-family: 'Kalam'; }
          @media only screen and (max-width: 774px) and (min-width: 320px) {
            section.carte > article.carte.carte-4 > .informations > section > .liste {
              font-size: 14px;
              margin: 0; } }
          @media only screen and (max-width: 979px) and (min-width: 775px) {
            section.carte > article.carte.carte-4 > .informations > section > .liste {
              font-size: 15px; } }
          section.carte > article.carte.carte-4 > .informations > section > .liste > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px; }
            section.carte > article.carte.carte-4 > .informations > section > .liste > ul > li {
              display: flex;
              justify-content: space-between;
              color: #000; }
              section.carte > article.carte.carte-4 > .informations > section > .liste > ul > li > .plat {
                font-weight: 100; }
              section.carte > article.carte.carte-4 > .informations > section > .liste > ul > li > .prix {
                font-weight: 400; }

/*# sourceMappingURL=style.css.map */
